<div class="billboard">
  <div>DireWolf</div>
  <div>WELOME <%=@current_user.name%> | <%=  %></div>
</div>



<h1>JK Job Portal</h1>
<button><%= link_to 'Job Listing', controller: 'jobs' %></button>
<button><%= link_to 'New Job', new_job_path %></button>

<h2>Admins</h2>
<button><%= link_to 'Admin Listing', controller: 'admins' %></button>
<button><%= link_to 'New Admin', new_admin_path %></button>