<%= form_for @job_seeker do |f| %>
  <% if @job_seeker.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@job_seeker.errors.count, "error") %> prohibited
      this job seeker from being saved:</h2>
    <ul>
    <% @job_seeker.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

    <p>
      <%= f.label :password %><br>
      <%= f.text_field :password %>
    </p>
    <p>
      <%= f.label :phone_number %><br>
      <%= f.text_field :phone_number %>
    </p>
  <p>
    <%= f.label :skills %><br>
    <%= f.text_area :skills %>
  </p>
    <p>
      <%= f.label :resume %><br>
      <%= f.text_area :resume %>
    </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>